*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    background-color: #f3f3f3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    cursor: pointer;
    font-size: 1em;
}

.dropdown.active, .link:hover{
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .5rem);
    background-color: white;
    padding: 0.8rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 500ms ease-in-out;
    
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-link {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form-login input {
    margin-bottom: .5rem;
}