* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #353535;
  background: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  letter-spacing: 2px;
  color: #ededed;
}
/*# sourceMappingURL=main.css.map */