@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

:root {
    --text-coler : #333;
    --container-color : lightblue;
    --bg-color : white;
    --box-color : #ff8c69;
}

html[data-color-mode='dark']{
    --text-coler : #fff;
    --container-color : #555;
    --bg-color : #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 1.4rem/1.6 'Nunito', sans-serif; 
    color: var(--text-coler);
    background-color: var(--bg-color);
}

h1 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 0.6em;
    text-align: center;
}

h1 span {
    font-weight: 300;
    font-size: 1.7rem;
    display: block;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: var(--container-color);
    padding: 2em;
}

p {
    text-align: justify;
    margin: 10px 0;
}

button {
    display: block;
    margin: 50px auto 0;
}
.box {
    background: var(--box-color);
    width: 10px;
    height: 10px;
    padding: var(--box-padding);
    margin: 0 auto;
}