$clrPrimary: #9f44d3;
$clrAccent: #e2b0ff;
$clrNetral: #ededed;
$clrDark: #353535;
$ffHeading: "Pacifico", cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: $clrDark;
  background: linear-gradient(135deg, $clrAccent 10%, $clrPrimary 100%);
}
h1 {
  font-family: $ffHeading;
  font-size: 2em;
  letter-spacing: 2px;
  color: $clrNetral;
}
