*, *::before, *::after{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
}
.hero {
    padding: 100px 0;
    background: #23424A;
    color: #fff;
}
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.hero__text {
    width: 60%;
    h1 {
        font-weight: 900;
        font-size: 3rem;
        // line-height: 56px;
        margin-bottom: 1rem;
    }

    p {
        font-weight: 400;
        font-size: 1.3125rem;
        color: rgba(255, 255, 255, 0.85);
        margin-bottom: 3em;
    }

    
    
}
.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.3125rem;
    text-transform: uppercase;
    background: #38CFD9;
    text-decoration: none;
    color: #23424A;
    padding: 0.75em 2em;
    border-radius: 100px;

    &:hover, &:focus {
        opacity: .75;
    }
}
