/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.container {
    width: 960px;
    background-color: #fff;
    margin: auto;
}

.header {
    padding: 20px;
}

.header h1 {
    font-size: 32px;
    font-weight: 800;;
}

.header ul {
    margin: 10px 0;
    margin-bottom: -5px;
}

.header ul li {
    display: inline-block;
    color: lightsalmon;
    padding: 5px;
    margin-right: 5px;
}

.header ul li:hover {
    background-color: lightskyblue;
    color: #fff;
}

.hero {
    height: 300px;
    background-color: azure;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    border-top: 5px solid lightsalmon;
    border-bottom: 5px solid lightskyblue;
}

.main {
    width: 600px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.main .judul {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.main .penulis {
    font-size: 11px;
}

.main .penulis span {
    color:lightsalmon;
}

.main p {
    margin: 20px 0;
    font-size: 14px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar img {
    height: 90px;
    width: 90px;
    float: left;
    padding: 5px;
}

.sidebar p {
    font: 12px/18px sans-serif;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    color: #fff;
}





.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}