* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0 auto;
     */
     margin-top: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
     gap: 10rem;
     flex-wrap: wrap;
}

.blog-post {
    display: flex;
    align-items: center;
    max-width: 90rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
}

.blog-post__img {
    position: relative;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
}
.blog-post__img::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    opacity: 0.5;
}
.blog-post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.blog-post__date span {
    display: block;
    color: #8e8c8c;
    font-weight: 600;
    margin: 0.5rem 0;
}

.blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post__info p {
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.7);
}

.blog-post__cta {
    display: inline-block;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.8rem;
    text-decoration: none;
}

.blog-post__cta:hover {
    background: linear-gradient(to right, #00f2fe 0%,#4facfe 100%);

}

@media (max-width: 1068px ){
    .blog-post {
        max-width: 80rem;
    }

    .blog-post__img {
        position: relative;
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media (max-width: 868px ){
    .blog-post {
        max-width: 70rem;

    }

}

@media (max-width: 768px ){
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img {
        min-width: 100%;
        transform: translate(0,-8rem);
    }
}