@mixin inline-list {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
  }
}

// argument pada mixin
@mixin flex-center($direction: row, $xGap: center) {
  display: flex;
  justify-content: $xGap;
  align-items: center;
  flex-direction: $direction;
}
