// import module mixin
@use "mixin";
@use "header";
@use "footer";

.container {
  @include mixin.flex-center(row-reverse, space-around);
  max-width: 600px;
  height: 400px;
  background: #eaeaea;

  .box {
    width: 60px;
    aspect-ratio: 1;
    background: lightsalmon;
    text-align: center;
    line-height: 60px;
    margin-right: 5px;
  }
}
