:root {
    --bg-color : hsl(49 37% 94%);
    --typewritterSpeed : 5s;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
}
h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: max-content;
}
h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1::before {
    background: var(--bg-color);
    animation: typewritter var(--typewritterSpeed) steps(28) 1s forwards;
}
h1::after {
    width: 0.125em;
    background: black;
    animation: 
        typewritter var(--typewritterSpeed) steps(28) 1s forwards,
        blink 500ms steps(28) infinite;
}
.subtitle {
    color: hsl(0 0% 0% /.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease calc(var(--typewritterSpeed) + 2s)  forwards;
}

@keyframes typewritter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

