@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 93, 120);
    color: rgb(255, 213, 220);
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico',sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

nav ul li a  {
    text-decoration: none;
    color: rgb(255, 173, 187);
    font-size: 0.8rem;
}

nav ul li a:hover  {

    color: rgb(255, 205, 213);
}

.menu-toggle {
    display: none;
    border-radius: 3px;
    justify-content: space-between;
    flex-direction: column;
    height: 28px;
    position: relative;
}

.menu-toggle input {
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    top: -5px;
    left: 0px;
    z-index: 1;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 40px;
    height: 3px;
    background-color: rgb(255, 173, 187);
    transition: all 0.2s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked  ~span:nth-child(2){
    transform: rotate(40deg);
    background-color: rgb(255, 221, 227);

}

.menu-toggle input:checked  ~span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}

.menu-toggle input:checked  ~span:nth-child(4){
    transform: rotate(-40deg);
    background-color: rgb(255, 221, 227);
}





/* RESPONSIVE BREAKPOINTS  */

/* Tablet  */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Handphone  */
@media screen and (max-width: 576px) {
    nav {
        justify-content: space-between;
        padding: 0 5%;
    }

    nav ul {
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 93, 120);
        justify-content: space-around;
        height: 100vh;
        top: 0;
        right: 0;
        width: 100%;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .menu-toggle {
        display: flex;
    }
    
}
