
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #101C45;
    overflow-x: hidden;
}

header {
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
}
a.brand {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 18px;
    color: #101C45;
    width: 110px;
}

a.brand:hover, nav.primary-navigation li a:hover  {
    opacity: 0.5;
}


nav.primary-navigation ul {
    display: flex;
    gap: 3rem;
    margin-left: 5rem;
}
nav.primary-navigation li a {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    color: #101C45;
}

.menu-button {
    margin-left: auto;
}

.btn-login {
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin-right: 1.5rem;
    cursor: pointer;
}
.btn-outline {
    padding: 8px 20px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #101C45;
    cursor: pointer;
}
section#hero {
    padding: 1rem 10rem;
    display: flex;
}

.col-left, .col-right {
    width: 100%;
}


h1.heading {
    width: 100%;
    max-width: 457px;
    margin-top: clamp(1rem, 10rem, 10rem);
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
}
p.lead {
    width: 100%;
    max-width: 457px;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 40px;
}

.btn-block {
    padding: 15px 35px;
    border: none;
    background: #203271;
    color: #fff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}


img.hero-img {
    width: 100%;
    /* background: black; */
    margin-top: -3rem; 
    margin-left: 4rem; 
}
.bg-skew {
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: #9BEAE0;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 874px;
    top: 0;
    right: 5;
    z-index: -99;
}

.testimoni {
    position: absolute;
    /* margin-top: 10rem; */
    top: 30%;
    left: 45%;
    padding: 20px;
    width: 292px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.testimoni-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}
.testimoni-header::before {
    position: absolute;
    content: '';
    background: url('img/tick.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    top: 0;
    right: 0;
}
.testimoni-header img {
    margin-right: 10px;
}
.testimoni-header p.client {
    font-weight: 600;
}

section#banner {
    display: flex;
    padding: 0 10rem;
    margin-top: -10rem;
    margin-bottom: 5rem;
    color: #fff;
    max-height: 250px;
}
.banner-item {
    display: flex;
    align-items: start;
    padding: 40px;
    background: #203271;
    /* width: 359px; */
}
.banner-item img {
    margin-right: 15px;
}
.banner-item p.heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 2rem;
}
.banner-item p.lead {
    font-size: 16px;
    font-weight: 400;
}

