body {
    margin: 0;
    padding: 0;
    background-color: #2e3537;
}

.folder {
    width: 300px;
    height: 200px;
    background: #016a8b;
    border-radius: 0.5rem;
    position: absolute;
    top: 40%;
    left: 40%;
    cursor: pointer;
    
}

.folder::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    background: #0380a7;
    z-index: 99;
    border-radius: inherit;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.folder::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 50px;
    top: -8px;
    background: #016a8b;
    border-radius: inherit;
}

.file {
    position: absolute;
    width: 130px;
    height: 180px;
    top: 0px;
    border-radius: inherit;
    color: white;
    text-align: center;
    line-height: 180px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    transition: all 1s;
} 

.file:nth-child(1){
    background-color:#e41515;
    z-index: 3;
    left: 0px;
}
.file:nth-child(2){
    background-color:#83C3A6;
    z-index: 2;
    left: 60px;
}
.file:nth-child(3){
    background-color: #F4BA44;
    z-index: 1;
    left: 110px;
}

.folder:hover:before {
    transform: rotateX(20deg);
  }

.folder:hover .file:nth-child(1){
    transform: translate(-100%, -130%);
}

.folder:hover .file:nth-child(2){
    transform: translate(0%, -130%);
}

.folder:hover .file:nth-child(3){
    transform: translate(100%, -130%);
}
