* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  background: salmon;
  padding: 0 2rem;
}

.main p {
  color: gray;
}

.main-heading {
  margin: 0 auto;
  text-align: center;
}

.main .main-heading {
  font-size: 2rem;
}

.main-heading h1,
.main-heading p {
  color: #e4e4e4;
  line-height: 1.6;
}

.main-heading:hover h1 {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */