@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #ddd;
    font: 32px/62px 'Bebas Neue', cursive, sans-serif;
}

h1 {
    font-size: 62px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
    text-shadow: 1px 1px 1px #fff;
}

.container {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
    box-shadow:0 0 3px 3px rgba(0,0,0,.3);
}

.galery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.galery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #666;
    overflow: hidden;
    position: relative;
    list-style: none;
    /* float: left; */
    /* margin-right: 10px; */
}

.galery a {
    text-decoration: none;
}

.galery li a > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.galery li span {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 11px;
    color: white;
    line-height: 120px;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: .9s;
}

.galery li a:hover span {
    opacity: 1;
    transform: rotate(360deg);
}

.overlay {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 9999;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
    transition: .8s;
}

.overlay > img {
    max-height: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,.8);
}

.overlay:target {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    /* background-color: rgba(0,0,0,0.7); */
    
}

.overlay:target img {
    animation: zoomAndFade 1s;
}

.overlay a {
    color: #fff;
    line-height: 14px;
    background-color: rgba(0,0,0,.8);
    font-size: 14px;
    padding: 5px;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 50%;
    opacity: 0;
}

.overlay:target a {
    animation: toRight 1s 1s forwards;
}


@keyframes zoomAndFade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes toRight {
    0% {
        opacity: 0;
        top: -10px;
    }

    100% {
        opacity: 1;
        top: 10px;
    }
}

