* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00092c;
    margin-top: 20rem;
}
img {
    width: 100%;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2), 
             -6px -6px 10px rgba(20, 19, 19, 0.7);
  border-radius: 50px;
  transition: width 0.5s;
}
.magnifier {
    position: absolute;
    width: 25px;
    left: 13px;
    cursor: pointer;
}
.mic {
    position: absolute;
    width: 0;
    right: 15px;
    cursor: pointer;
    transition: width .4s;
    transition-delay: 0.5s;
}

.input {
    background: transparent;
    margin: 10px 50px;
    border: none;
    outline: none;
    color: rgb(100, 100, 100);
    transition: width 1s;
    transition-delay: 0.5s;
    width: 0;
}
.active.container {
    width: 300px;
}
.active .input {
    width: 100%;
}
.active .mic {
    width: 30px;
}