:root {
    --clr-gray-100 : #5F6D7E;
    --clr-gray-700 : #272D37;
}
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--clr-gray-100);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
a {text-decoration: none;}


/* utilities */
.text-center { text-align: center;}
.flex {display: flex;}

section {
    margin: 1em 0;
    padding-inline: 1em;
}
h2.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--clr-gray-700);
    margin-bottom: 1em;
}
p.subtitle {
    margin-bottom:2em;
}

.features__grid {
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';
    gap: 1em;
}

@media screen and (min-width: 537px) {
    .features__grid {
        grid-template-areas:
        'one two'
        'three four'
        'five six';
    }
}

@media screen and (min-width: 900px) {
    .features__grid {
        grid-template-areas:
        'one two three'
        'four five six';
    }
}


.features__item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #EAEBF0;
    border-radius: 5px;
}
.features__item:nth-child(1){
    grid-area: one;
}
.features__item:nth-child(2){
    grid-area: two;
}
.features__item:nth-child(3){
    grid-area: three;
}
.features__item:nth-child(4){
    grid-area: four;
}
.features__item:nth-child(5){
    grid-area: five;
}
.features__item:nth-child(6){
    grid-area: six;
}



.features__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

a.features__button {
    padding: .75em 1.125em;
    font-weight: 600;
    border: 1px solid #DAE0E6;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    background: transparent;
    color: var(--clr-gray-700);
    cursor: pointer;
}
.features__body h3 {
    font-weight: 600;
    font-size: 1.25em;
    color: var(--clr-gray-700);
}






