* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #ededed;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background: #000;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav h1 {
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    transform: translateY(-110%);
    background: #000;
    transition: 1s;
    justify-content: space-around;
    align-items: center;
}

nav ul[data-visible="true"]{
    transform: translateY(0);
}

nav ul li {
    text-transform: uppercase;
}

nav ul li a {
    color: white;
    cursor: pointer;
    transition: 0.5s;

}

nav ul li a:hover {
    opacity: 0.7;
}

.menu-toggle {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    transition: all 1s;
    z-index: 9999;
    cursor: pointer;
}

.menu-toggle:hover {
    opacity: 0.5;
}



@media screen and (min-width: 35em)and (max-width: 55em) {
    body {
        background-color: red;
    }
    nav ul {
        flex-direction: row;
        position: initial;
        width: 70%;
        transform: translateX(0);
        transition: none;
    }

    nav ul li a {
        font-size: 0.7rem;
    }

    .menu-toggle {
        display: none;
    }
    
}

@media screen and (min-width: 55em) {
    body {
        background-color: blue;
    }
    nav ul {
        width: 50%;
        flex-direction: row;
        position: initial;
        transform: translateX(0);
        transition: none;
    }
    nav ul li a {
        font-size: 0.8rem;
    }

    .menu-toggle {
        display: none;
    }
    
}
