* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(120deg, #800080, #ffc0cb);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    max-width: 24rem;
    width: 100%;
    padding:1rem 2rem;
    background-color: #fff;
    border-radius: .8rem;
}

.wrapper h1 {
    text-align: center;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid silver;
}

.txt-field {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #adadad;
}

.txt-field input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: none;
    outline: none;
    background: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

.txt-field span::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 40px;
    left: 0;
    background: #ffc0cb;
    transition: .5s;

}

.txt-field input:focus  ~ label, .txt-field input:valid  ~ label {
    top: -5px;
    color: #ffc0cb;
}

.txt-field input:focus  ~ span::before, .txt-field input:valid  ~ span::before {
   width: 100%;
}

a.forgot-password {
    display: block;
    margin: -10px 0 20px 5px;
    color: #a6a6a6;
    text-decoration: none;
}
a.forgot-password:hover {
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    padding: 0.6rem 0.5rem;
    border-radius: .5rem;
    border: 1px solid;
    background-color: #ffc0cb;
    color: #fff;
    font-size: 1rem;
}

.login-form button:hover {
    border-color: #ffc0cb;
    transition: .5s;
}

p.register {
    margin: 30px 0;
    text-align: center;
    color: #666;
}

p.register a {
    color: #ffc0cb;
    text-decoration: none;
}
p.register a:hover {
    text-decoration: underline;
}


