* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.main {
  background: salmon;
  padding: 0 2rem;
  p {
    color: gray;
  }
}
.main-heading {
  margin: 0 auto;
  text-align: center;

  .main & {
    font-size: 2rem;
  }
  h1,
  p {
    color: #e4e4e4;
    line-height: 1.6;
  }

  &:hover h1 {
    text-decoration: underline;
  }
}
