.header ul {
  margin: 0;
  padding: 0;
}
.header ul li {
  display: inline-block;
  list-style: none;
}
.header ul li {
  border: 1px solid black;
  padding: 0.7em;
}
.header ul li a {
  color: black;
}

.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  display: inline-block;
  list-style: none;
}
.footer ul li {
  padding: 0.4em;
  background: salmon;
}
.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 600px;
  height: 400px;
  background: #eaeaea;
}
.container .box {
  width: 60px;
  aspect-ratio: 1;
  background: lightsalmon;
  text-align: center;
  line-height: 60px;
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
